*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(253, 121, 168,0.4) 70%, white 30%);
}
.top-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px; /*top, bottom and left, right;*/
}

.s-icon i:first-child{
    background: #e84393;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}
.s-icon i:hover{
    background: #e84393;
    color: white;
    transition: 0.4s;
}
.s-icon i{
    padding: 5px;
    /* border-radius: 5px; */
    font-size: 20px;
    color: black;
    margin: 0px 5px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding:10px 70px;
}
.logo{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    border-radius: 5px;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    
}
.menu a:first-child{
    background: #e84393;
    color: white;
    transition: .1s;
}
.menu a:hover{
    background: #e84393;
    color: white;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 70px;
}
.left{
    flex-basis: 50%; /* flex basis means width*/
}
.right{
    flex-basis: 50%;
    text-align: right;
}
.left h1{
    font-size: 4rem;

}
.left h1 span{
    color:white;
    background: #e84393;
    border-radius: 5px;
    padding: 0px 15px;
}
.left p{
    margin: 30px 0px;/*TBRL*/
    line-height: 2rem;
}
.left button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: #e84393 ;
    color: white;
    border-radius: 5px;
}
 #btn-2{
     padding: 10px 20px;
     color: black;
     background: transparent;
     border: 1px solid #e84393;
     border-radius: 5px;
     outline: none;
     margin: 0px 10px;
 }


