@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Raleway&family=Rubik&display=swap");
button, button:focus {
    outline: none, !important;
    box-shadow: none !important;
}

.font-baloo {
    font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
    font-family: "Raleway", cursive;
}

.font-rubik {
    font-family: "Rubik", cursive;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}

.color-primary {
    color: #003859;
}

.color-primary-bg {
    background: #003859;
}

.color-second {
    color: #00A5C4;
}

.color-second-bg {
    background: #00A5C4;
}

.color-yellow {
    color: #FFD289;
}

.color-yellow-bg {
    background: #FFD289;
}

#top-sale .owl-carousel .item .product a {
    overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
    transition: all 0.2s ease-in-out;
}
#top-sale .owl-carousel .item .product:hover img {
    transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
    font-size: 35px;
    color: #00A5C4;
    margin-left: -4rem;
    padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
    right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #00A5C4;
    margin-right: -4rem;
    padding: 0 1rem;
}

#special-price .grid .grid-item {
    margin-right: 1.2rem;
    margin-top: 1rem;
}

#new-phones .owl-carousel .item .product a {
    overflow: hidden;
}
#new-phones .owl-carousel .item .product img {
    transition: all 0.2s ease-in-out;
}
#new-phones .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}
#new-phones .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}
#new-phones .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
#new-phones .owl-carousel .owl-nav button.owl-prev span {
    font-size: 35px;
    color: #00A5C4;
    margin-left: -4rem;
    padding: 0 1rem;
}
#new-phones .owl-carousel .owl-nav button.owl-next {
    right: 0;
}
#new-phones .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #00A5C4;
    margin-right: -4rem;
    padding: 0 1rem;
}