// top sale template
// #top-sale{
//     .owl-carousel .item .product a{
//         overflow: hidden;
//     }
//     .owl-carousel .item .product img{
//         transition: all .2s ease-in-out;
//     }
//     .owl-carousel .item .product:hover img{
//         transform: scale(1.1);
//     }
// }
#top-sale{
    .owl-carousel .item .product a{
        overflow: hidden;
    }
    .owl-carousel .item .product  img{
        transition: all .2s ease-in-out;
      

    }
   .owl-carousel .item .product img:hover{
    transform: scale(1.1);
   }
}