body{
    background-color: #b8e994;
}
#headerSection{
    padding: 5px;
}
#headerSection h1{
    font-family: cursive;
}
input{
    padding: 10px;
    border-radius: 5px;
  }
  #dropbox{
      padding: 10px;
      border-radius:5px;
      border:2px solid black;
      width:14%;
      
  }
  #loginbtn{
      padding: 5px;
      border-radius:5px;
      background-color: #3498db;
      color:white;
      font-size:15px;
  }
  
  #logoutbtn{
    background-color: #3498db; 
    padding: 5px;
    border-radius:5px;
    color:white;
    font-size:15px;
    text-align: left;
    float: right;

  }